*{
    font-family: monospace;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* header */
.header{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color: black;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-nav button{
    margin: 10px;
    transition: 0.3s;
}
.navbar-nav button a{
    font-weight: 600;
    color: white;
}

.navbar-nav button a:hover{
    color: white;
    text-decoration: none;
}

.nav-link{
    transition: 0.3s;
}
.nav-link i:hover{
    color: rgb(182, 182, 182);
}

/* Visit Us */
/* Landing Page */
.contactbx{
    margin: 40px 80px;
    box-shadow: 0 0 20px 0 grey;
    border-radius: 10px;
}

.row .contact-us{
    margin-top: 50px;
    margin-left: 80px;
}

.row .contact-us h2{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.row .contact-us p img{
    margin: 20px 20px;
}

.row .maps-view{
    margin: 40px 40px;
    text-align: center;
}

/* footer */
.sticky-footer{
    position: sticky;
    top: 100%;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 20px;
}

.sticky-footer .row ul li{
    list-style: none;
    margin-top: 10px;
}

.sticky-footer .row p{
    margin-top: 10px;
    margin-left: 40px ;
}

.sticky-footer .row a{
    color: white;
    text-decoration: none;
}

.sticky-footer .row a:hover{
    color: lightgrey;
}