.fill_hight{
    height: 100%;
}


/* header */
.header{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
}

/* body */
/* landing page */
.konten1{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
}

.konten1_konten{
    width: 60%;
}

.konten1_konten h2{
    font-weight: 500;
    margin-bottom: 29px;
}

.konten1_konten button{
    margin-top: 29px;
    transition: 0.3s;
}

/* sejarah permata gordyn */
.konten2{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* banner */
.banner{
    width: 100%;
    margin-top: 30px;
}


.banner p{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}
.banner_item{
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner_category{
    margin-top: 80%;
}

.banner_category p{
    display: block;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
}

.banner_category a{
    display: block;
    margin-top: -20%;
    text-decoration: none;
    color: grey;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
    transition: 0.3s;
}

.banner_category a:hover{
    color: black;
    text-decoration: none;
}


/* footer */
.footer{
    background-color: black;
    margin-top: 10%;
    padding-top: 5%;
}

.footer .info{
    margin-bottom: 5%;
}
.footer_nav_container{
    color: white;
    height: 100px;
    margin-top: 5%;
}

.footer_nav_container li{
    margin-top: 15px;
    list-style: none;
    text-align: center;
}

.footer_nav_container li a{
    color: white;
    transition: 0.3s;
}

.footer_nav_container li a:hover{
    color: grey;
    text-decoration: none;
}

.cr{
    text-align: center;
}

.cr a{
    color: white;
    transition: 0.3s;
}

.cr a:hover{
    color: grey;
    text-decoration: none;
}




/* PRODUCTS */
.lproduct{
    /* width: 100%; */
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
}

.lproduct_konten{
    text-align: center;
}

.lproduct_konten h5{
    margin-top: 29px;
}

.lproduct_konten button{
    margin-top: 29px;
}