.gradient-custom{
    background-color: rgb(127, 229, 236);
}

#form1{
    height: 40px;
    width: 50px;
    text-align: center;
}
.fas{
    height: auto;
    width: auto;
}

#panjangform{
    height: 40px;
    width: 80px;
    margin-left: 0px;
    text-align: center;

}
#lebarform{
    height: 40px;
    width: 80px;
    margin-left: 0px;
    text-align: center;

}

/* #checkbutton{
    height: 40px;
    width: 40px;
    font-size: auto;
} */